name: CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [21]
    name: Java ${{ matrix.java }} sample

    steps:
    - name: Checkout calimero-core
      uses: actions/checkout@v6
      with:
        repository: calimero-project/calimero-core
        path: calimero-core
    - name: Checkout calimero-rxtx
      uses: actions/checkout@v6
      with:
        repository: calimero-project/calimero-rxtx
        path: calimero-rxtx
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
    - name: Execute Gradle build
      run: |
        cd calimero-rxtx
        ./gradlew build
